@use 'typography';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--header-bg);
  padding: var(--y-xs) var(--x-md);
  display: flex;
  justify-content: space-between;
}

.logo {
  a {
    display: block;
  }
  .logo-text {
    @extend .h6;
  }
}