.layout {
  background-color: var(--layout-bg);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.section {
  padding: var(--y-md) var(--x-md);
}

.container {
  max-width: var(--container-max-width, 1200px);
  margin-left: auto;
  margin-right: auto;
}