@use 'scss-vars' as *;

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  @each $name, $font in $fonts {
    --#{$name}-font: #{$font};
  }

  @each $axis, $values in $spacing {
    @each $key, $value in $values {
      --#{$axis}-#{$key}: #{$value};
    }
  }

  --link-color: var(--primary);

  --header-bg: var(--gray);
  --footer-bg: var(--gray);

  --transition: .4s;
  --border-radius: .25rem;

  --min-textarea-height: 300px;
}