@use 'epic' with (
  $fonts: (
    body: ('Roboto', sans-serif),
    heading: ('Oswald', sans-serif),
    monospace: ('Roboto Mono', monospace)
  ),
  $border: 4px solid var(--primary)
);

/* #c8deed light blue */

@use 'custom';