* {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

a {
  color: var(--link-color);
  transition: var(--transition);
}

img,
svg,
iframe {
  display: block;
  max-width: 100%;
}

code {
  font-family: var(--monospace-font);
}