@use '../epic/components/typography';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light);
  border-bottom: var(--border);
  padding: var(--y-xs) var(--x-md);
  display: flex;
  justify-content: space-between;
}

.logo {
  a {
    display: block;
    position: relative;
    top: 1px;
    img {
      max-height: 50px;
    }
  }
}