@use '../epic/components/typography';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--gray);
  padding: var(--y-xs) var(--x-md);
  display: flex;
  justify-content: space-between;
}

.logo {
  a {
    display: block;
    h1 {
      @extend .h6;
    }
  }
}