@use '../config' as *;

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--y-sm) var(--x-sm);
}

[class*="btn-"] {
  display: block;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: var(--border-radius);
  &:hover {
    background-color: var(--secondary);
  }
}

@each $name, $color in $colors {
  .btn-#{$name} {
    background-color: var(--#{$name});
  }
}