/* This component is unfinished and is coming soon. */

.form {
  display: flex;
  flex-direction: column;
  gap: var(--y) var(--x);
}

.input {
  &.text,
  &.textarea {
  }
  &.textarea {
    min-height: var(--min-textarea-height);
  }
}