.h1 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: bold;
  font-size: 7rem;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.h2 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.h3 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.h4 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.h5 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.h6 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}